@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 20, 20, 20; /* ソフトブラックのフォアグラウンド */
  --background-start-rgb: 255, 255, 255; /* 白のバックグラウンド */
  --background-end-rgb: 245, 245, 245; /* ややグレーのバックグラウンド */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 20, 20, 20; /* ソフトブラックのフォアグラウンド */
    --background-start-rgb: 255, 255, 255; /* 白のバックグラウンド */
    --background-end-rgb: 245, 245, 245; /* ややグレーのバックグラウンド */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
